.palette-wrapper {
    background: #f1f3f5;
    padding: 1rem 0;
}

.palette-list {
    justify-content: center;
    display: flex;
}

.palette-item {
    padding: 1rem;
    margin: 0 0.5rem;
    opacity: 0.5;
    transition: all 0.2s;
}

.palette-item:hover {
    opacity: 0.75;
}

.active {
    opacity: 1;
}